{%load static%}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Procect</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{%static 'styles.css' %}">
</head>

<body>

    {%include 'core/header.html' %}

    <div class="flex justify-center items-center min-h-screen bg-gray-100">
        {%block content%}
        {%endblock%}
    </div>



    <script src="{%static 'homepage/footer.js'%}"></script>
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</body>

</html>